{% include "base.html" %}
{% block head %}

    <meta charset="UTF-8">
    <title>DeepPD</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">

    <!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link href="static/css/style.css" rel="stylesheet">

{% endblock %}

{% block body %}
    <!-- <body onload="pencil()"> -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

        <a class="navbar-brand logo-image" style="margin-top: -36px;" href="/"><img src="static/images/Logo.png" alt="alternative"></a>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="background-color: #113448; width: 120%; height: 100%; margin-right: -80px; margin-left: -200px; margin-top: -35px;">

            <br><br><br><br><br><br>
            <ul class="menu" style="margin-right: 190px;">
                <li>
                    <a onclick="savefinalimage()" style="color: white; margin-left: 150px; " href="/generateimage"  >Download</a>	<i class="bx bxs-download" style=" color: white;" ></i>
                </li>
            </ul>
        </div>
    </nav>
                    
    <div class="image-container">
        <img id="generated_final_image" src="../static/images/out.png" alt="your_image_alt_text">
    </div>
    
    <div class="animation-area">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>                
    


    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="static/js/jquery.min.js"></script> 
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/swiper.min.js"></script>
    <script src="static/js/jquery.magnific-popup.js"></script>
    <script src="static/js/morphext.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script> 
    <script src="static/js/validator.min.js"></script>
    <script src="static/js/scripts.js"></script> 
    <script src="static/js/myscript.js"></script>
{% endblock %}