{% extends 'base.html' %}

{% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
      <meta name="author" content="Inovatik">

      <title>DeepPD</title>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
      <link href="static/css/bootstrap.css" rel="stylesheet">
      <link href="static/css/fontawesome-all.css" rel="stylesheet">
      <link href="static/css/swiper.css" rel="stylesheet">
      <link href="static/css/magnific-popup.css" rel="stylesheet">
      <link href="static/css/styles.css" rel="stylesheet">
      <link href="static/css/style.css" rel="stylesheet">
      
      <link rel="icon" href="">

      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">

{% endblock %}

{% block body %}
<div class="spinner-wrapper">
      <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
  </div>
  

  <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

      <a class="navbar-brand logo-image" href="/"><img src="static/images/Logo.png" alt="alternative"></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-awesome fas fa-bars"></span>
          <span class="navbar-toggler-awesome fas fa-times"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link page-scroll" href="#intro">INTRODUCTION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#usecases">USE CASES</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link page-scroll" href="#guidelines">GUIDELINES</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link page-scroll" href="#team">TEAM</a>
              </li>
          </ul>
      </div>
  </nav>


  <header id="header" class="header">
        <video loop autoplay muted>
            <source src="static\images\video.mp4" type="video/mp4">
        </video>
      <div class="header-content">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="text-container">
                          <h1>Deep Portrait Drawing</h1>
                          <p class="p-heading p-large">
                            A machine learning model to convert your hand drawn sketches into realistic looking image in your reach.
                          </p>
                          <a class="btn-solid-lg page-scroll" href="/mainpage">Continue To Canvas</a>
                      </div>
                  </div>
              </div> 
          </div>
      </div>
  </header>


  <div id="intro" class="basic-1">
      <div class="container">
          <div class="row">
              <div class="col-lg-5">
                  <div class="text-container">
                    <div class="section-title"> <b>INTRODUCTION</b> </div><br>
                    <h2>What is DeepPD all about?</h2>
                    <p style="text-align: justify; color: black;">
                      Every day, lots of crimes take place everywhere around the world but 
                      the police rarely catch the culprits. Police try to get the description of 
                      the culprit from eyewitnesses.This requires the artist to have years of experience in drawing people’s faces, Furthermore, this 
                      process is time-consuming and expensive.
                      <br>
                      DeepPD will help users to draw rough sketches and probably get realistic looking images in return that would be helpful in solving the above problem
                      Even an inexperienced person can use this tool to get his/her imaginations out into reality.

                    </p>
                </div>
              </div> 
              <div class="col-lg-7">
                  <div class="image-container">
                      <img class="img-fluid" src="static/images/intro.jpg" alt="alternative">
                  </div> 
              </div>
          </div>
      </div> 
  </div>

  <br><br><br>
  <div id="usecases" class="cards-1">
      <div class="container">
        <div class="section-title" style="text-align: center;"> <b>USE CASES</b> </div><br>
        <h2 style="text-align: center;">Here are some of the business opportunities through DeepPD</h2><br>
          <div class="row">
              <div class="col-lg-12">
                  
                  <div class="card" style="margin-left: 150px;">
                      <span class="fa-stack">
                          <span class="hexagon"></span>
                          <i class="fas fa-binoculars fa-stack-1x"></i>
                      </span>
                      <div class="card-body">
                          <h4 class="card-title">Security Departments</h4>
                          <p>By means of such people and deep learning models 
                            which can create images from free hand sketches, the police can seek 
                            help in identifying a criminal after creating sketches which would 
                            ultimately be helpful in catching those culprits and result in decline in 
                            crime rate.
                        </p>
                      </div>
                  </div>

                  <div class="card" style="margin-left: 150px;">
                      <span class="fa-stack">
                          <span class="hexagon"></span>
                          <i class="fas fa-list-alt fa-stack-1x"></i>
                      </span>
                      <div class="card-body">
                          <h4 class="card-title">3D Modeling</h4>
                          <p>3D modeling is a concept of creating a 3-dimensional 
                            representation of an image. DeepPD can be used to 
                            generate image & can be further processed using 3D 
                            models helping people who are linked to 
                            film and television industry, product design, animations, game 
                            development etc.
                        </p>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

    <br><br><br>
    <div id="guidelines" class="accordion">
          <div class="area-1">
          </div><div class="area-2">
          
          <div class="accordion-container" id="accordionOne">
            <div class="section-title"> <b>GUIDELINES</b> </div><br>
              <h2>Things to know before using DeepPD</h2>
              <div class="item">
                  <div id="headingOne">
                      <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                          <span class="circle-numbering">1</span><span class="accordion-title">Instruction</span>
                      </span>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                      <div class="accordion-body">
                        After erasing, choose pencil to draw.
                      </div>
                  </div>
              </div> 
          
              <div class="item">
                  <div id="headingTwo">
                      <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                        <span class="circle-numbering">2</span><span class="accordion-title">Instruction</span>
                      </span>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                      <div class="accordion-body">
                        Reset button will not save your progress.
                      </div>
                  </div>
              </div> 
          
              <div class="item">
                  <div id="headingThree">
                      <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                        <span class="circle-numbering">3</span><span class="accordion-title">Instruction</span>
                      </span>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                      <div class="accordion-body">
                        Use + - button to increase pencil/eraser size.
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div id="headingFour">
                      <span class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" role="button">
                        <span class="circle-numbering">4</span><span class="accordion-title">Instruction</span>
                      </span>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionOne">
                      <div class="accordion-body">
                        Choose your starting sketch from Male/Female
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div id="headingFive">
                      <span class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" role="button">
                        <span class="circle-numbering">5</span><span class="accordion-title">Instruction</span>
                      </span>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionOne">
                      <div class="accordion-body">
                        Click generate to get your final image
                      </div>
                  </div>
              </div>
          </div>

          </div> 
  </div> 



  <div id="team" class="basic-2">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                <div class="section-title"> <b>SUPERVISOR & TEAM</b> </div><br>
                  <p class="p-heading">We're only as strong and as knowledgeable as others. So here are the team members and the supervisor that contributed to this product.</p>
              </div>
          </div> 
          <div class="row">
              <div class="col-lg-12">

                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="static/images/sir.png" alt="alternative">
                    </div> 
                    <p class="p-large"> <b>Dr Akhtar Jamil</b> </p>
                    <a href="https://www.linkedin.com/in/akhtar-jamil" target="_blank">LinkedIn</a> <br>
                </div>
                <br>

                  <div class="team-member">
                      <div class="image-wrapper">
                          <img class="img-fluid" src="static/images/hassan.PNG" alt="alternative">
                      </div> 
                      <p class="p-large"> <b>Hassan Saif</b> </p>
                      <a href="https://www.linkedin.com/in/hassan-saif-b89290194" target="_blank">LinkedIn</a> <br>
                      <a href="https://github.com/hassansaif-0" target="_blank">Github</a>
                  </div>

                  <div class="team-member">
                      <div class="image-wrapper">
                          <img class="img-fluid" src="static/images/faizan.PNG" alt="alternative">
                      </div>
                      <p class="p-large"> <b>Faizan Ul Hassan</b> </p>
                      <a href="https://www.linkedin.com/in/faizan-ul-hassan-68b230207" target="_blank">LinkedIn</a> <br>
                      <a href="https://github.com/faizanulhassan32" target="_blank">Github</a>
                  </div>

                  <div class="team-member">
                      <div class="image-wrapper">
                          <img class="img-fluid" src="static/images/ali.PNG" alt="alternative">
                      </div>
                      <p class="p-large"> <b>Syed Sher Ali</b> </p>
                      <a href="https://www.linkedin.com/in/ali-shah-a32915230" target="_blank">LinkedIn</a> <br>
                      <a href="https://github.com/Ali-Shah2022000" target="_blank">Github</a>
                  </div>

              </div>
          </div>
      </div>
  </div>


  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <p class="p-small">Copyright © 2023 Team DeepPD</a></p>
              </div>
          </div>
      </div> 
  </div>
  
        
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/popper.min.js"></script> 
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/jquery.easing.min.js"></script>
  <script src="static/js/swiper.min.js"></script>
  <script src="static/js/jquery.magnific-popup.js"></script> 
  <script src="static/js/morphext.min.js"></script>
  <script src="static/js/isotope.pkgd.min.js"></script>
  <script src="static/js/validator.min.js"></script>
  <script src="static/js/scripts.js"></script>
  <script src="static/js/myscript.js"></script>

{% endblock %}